/* Border box declaration
https://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
html {
  box-sizing: border-box;
}
/* inherit border-box on all elements in the universe and before and after
 */
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
	font-family: monospace;
  font-size: 1.2em;
}
a {
	color: rgb(255, 255, 255);
}
a:hover {
  color: rgb(162, 22, 22);
}
.wrapper {
	width: 97%;
	max-width: 1200px;
	margin: 0 auto;
	float: none;
	background-color: #fff;
}

div img {
	width: 100%;
	max-width: 225px;
  border: 2px solid rgb(81, 6, 85);
  box-shadow: 5px 5px 2.5px rgb(71, 40, 73);
}

/* grid system -- mobile first! */
.row::after {
  content: "";
  display: table;
  clear: both;
}
.row {
  margin-top: 0px;
  margin-bottom: 0px;
}
 [class*="set-"] {
   width: 96%;
   margin: 1%;
   float: none;
   background-color: rgb(71, 130, 199);
   border-radius: 5px;
   padding: 5px;
   height: 350px;
 }







/* Mobile Landscape Screen Sizes */
@media only screen and (min-width: 480px)  {
  [class*="set-"] {
    width: 44%;
    float: left;
    background-color: rgb(177, 180, 93);
  }

}
/* Desktop screen Sizes */
@media only screen and (min-width: 768px) {
  [class*="set-"] {
    background-color: rgb(148, 80, 144);
  }
  [class*="set-1"] {
    float: left;
    width: 22%;
  }
  [class*="set-2"] {
    width: 46%;
  }

  .set-3-1 {
    width: 30%;
  }
  .set-3-2 {
    width: 62%;
  }

  .set-4 {
    width: 94%;
  }





}
